﻿@page "/calculator"
@page "/"
@inject CalculatorService CalculatorService



<div class="container-fluid">
    <div style="margin-bottom:3px" class="row">
        <h3>Result: @Result</h3>
    </div>
    <div style="margin-bottom:3px" class="row">
        @{
            switch (Symbol)
            {
                case OperationSymbol.addition:
                    <h3>Operation: +</h3>
                    break;
                case OperationSymbol.subtraction:
                    <h3>Operation: -</h3>
                    break;
                case OperationSymbol.multiplication:
                    <h3>Operation: x</h3>
                    break;
                case OperationSymbol.division:
                    <h3>Operation: /</h3>
                    break;
                case OperationSymbol.None:
                    <h3>Operation: </h3>
                    break;
                default:
                    break;
            }
        }
    </div>
    <div style="margin-bottom:3px" class="row">
        <h3>First: @FirstValue</h3>
    </div>
    <div style="margin-bottom:3px" class="row">

        <input  @onkeypress="KeyHandler" @onkeypress:preventDefault type="text" value="@Value" />
        <button @onclick="@Cut" style="height:50px;margin-right:3px" class="btn btn-secondary">back</button>
        <button @onclick="@MakeNegative" style="height:50px;width:70px" class="btn btn-primary">Inverse</button>
    </div>

    <div style="margin-bottom:3px" class="row">
        <button @onclick="@(() => Append(7))" style="margin-right:2px" class="btn btn-secondary">7</button>
        <button @onclick="@(() => Append(8))" style="margin-right:2px" class="btn btn-secondary">8</button>
        <button @onclick="@(() => Append(9))" style="margin-right:2px" class="btn btn-secondary">9</button>
        <button @onclick="@(() => AddOperationSymbol(OperationSymbol.multiplication))" class="btn btn-secondary">x</button>
    </div>
    <div style="margin-bottom:3px" class="row">
        <button @onclick="@(() => Append(4))" style="margin-right:2px" class="btn btn-secondary">4</button>
        <button @onclick="@(() => Append(5))" style="margin-right:2px" class="btn btn-secondary">5</button>
        <button @onclick="@(() => Append(6))" style="margin-right:2px" class="btn btn-secondary">6</button>
        <button @onclick="@(() => AddOperationSymbol(OperationSymbol.subtraction))" class="btn btn-secondary">-</button>
    </div>
    <div style="margin-bottom:3px" class="row">
        <button @onclick="@(() => Append(1))" style="margin-right:2px" class="btn btn-secondary">1</button>
        <button @onclick="@(() => Append(2))" style="margin-right:2px" class="btn btn-secondary">2</button>
        <button @onclick="@(() => Append(3))" style="margin-right:2px" class="btn btn-secondary">3</button>
        <button @onclick="@(() => AddOperationSymbol(OperationSymbol.addition))" class="btn btn-secondary">+</button>
    </div>
    <div class="row">
        <button @onclick="@Clear" style="margin-right:2px" class="btn btn-secondary">c</button>
        <button @onclick="@(() => AddOperationSymbol(OperationSymbol.division))" style="margin-right:2px" class="btn btn-secondary">/</button>
        <button @onclick="@(() => Append(0))" style="margin-right:2px" class="btn btn-secondary">0</button>
        <button @onclick="@GetResult" class="btn btn-success">=</button>
    </div>
</div>

@code {

    public enum OperationSymbol
    {
        addition,
        subtraction,
        multiplication,
        division,
        None
    }



    public void GetResult()
    {
        double result = 0;
        switch (Symbol)
        {
            case OperationSymbol.addition:
                result = CalculatorService.Add(int.Parse(FirstValue), int.Parse(Value));
                break;
            case OperationSymbol.subtraction:
                result = CalculatorService.Subtrackt(int.Parse(FirstValue), int.Parse(Value));
                break;
            case OperationSymbol.multiplication:
                result = CalculatorService.Multiply(int.Parse(FirstValue), int.Parse(Value));
                break;
            case OperationSymbol.division:
                try
                {
                    result = CalculatorService.Divide(int.Parse(FirstValue), int.Parse(Value));
                }
                catch (ArgumentException e)
                {

                    Console.WriteLine("Cannot divide by 0");
                    Result = "";
                }
                break;
            case OperationSymbol.None:
                break;
            default:
                break;
        }
        this.Result = result.ToString();
        this.Value = "0";
        this.FirstValue = "";
        this.Symbol = OperationSymbol.None;

    }

    public string Result { get; set; } = "";
    public string Value { get; set; } = "0";
    public string FirstValue { get; set; } = "";

    public OperationSymbol Symbol { get; set; } = OperationSymbol.None;

    public void Append(int arg)
    {
        Result = "";
        if (Value == "0")
        {
            Value = arg.ToString();
            return;
        }
        var existing = Value.ToString();
        existing = existing + arg.ToString();
        Value = existing;

    }

    public void MakeNegative()
    {
        if (Value == "0")
        {
            return;
        }
        Value = (int.Parse(Value) * -1).ToString();

    }

    public void AddOperationSymbol(OperationSymbol symbol)
    {
        FirstValue = Value;
        Symbol = symbol;
        Value = "0";
        Result = "";
    }



    public void Clear()
    {
        Value = "0";
        FirstValue = "";
        Symbol = OperationSymbol.None;
    }

    public void Cut()
    {
        if (Value.Length == 1)
        {
            Value = "0";
            return;
        }
        Value = Value.Substring(0, Value.Length - 1);
    }


    private void KeyHandler(KeyboardEventArgs e)
    {

        if (int.TryParse(e.Key, out var result))
        {
            Append(int.Parse(e.Key));
        }
    }

}

<style>
    button {
        height: 70px;
        width: 50px
    }

    input {
        margin-bottom: 10px;
        height: 50px;
        width: 156px;
        margin-right: 2px
    }
</style>